.ticket-info {
    background: linear-gradient(to bottom,#66798a 0,#2c4c61 100%);
    color: #fff;
    height: 96px;
}

.ticket-info-item{
    font-weight: bold;
    font-size: 2rem;
}

.cafe-list{
    list-style: none;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

/*.cafe-list > li {*/
/*    background-color: rgb(255, 255, 255);*/
/*    box-shadow: 0px 0px 5px rgb(51, 51, 51);*/
/*    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);*/
/*    padding: 0px;*/
/*    margin: 0px 0px 20px;*/

/*    position: relative;*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 120px;*/
/*    padding: 0px;*/
/*}*/

.cafe-list > li{

    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    margin: 12px 0px
}

.cafe-list > li > img {
    width: 100%;
    height: 120px;
}
.cafe-list > li > .info {
    padding-top: 5px;
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
    color: #333;
    background-color: rgb(245, 245, 245);
    overflow: hidden;

}
.cafe-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
    padding-left: 10px;
}
.cafe-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
    padding-left: 10px;
}

/*.cafe-list > li > .info > .price*/

.price{
    display: block;
    padding-right: 10px;
    position: absolute;
    bottom: 0px;
    left: 024px;
    font-size: 14px;
}

.cafe-list > li > .info > .cafe-btn {
    display: block;
    padding-left: 10px;
    position: absolute;
    bottom: 12px;
    right: 024px;
    font-size: 14px;
    background-color: #e21a1a;
    border-color: #c80000;
}

.cafe-list > li > .info > .cafe-btn:hover{
    background-color: #e21a1a;
    border-color: #e21a1a;
}

.cafe-list > li > .info > .cafe-btn:active{
    background-color: #c80000;
    border-color: #c80000;
}


.card-body > .cart {
    display: block;
    padding-left: 10px;
    position: absolute;
    bottom: 12px;
    right: 024px;
    font-size: 14px;
    background-color: #e21a1a;
    border-color: #c80000;
}

.card-body > .cart:hover{
    background-color: #e21a1a;
    border-color: #e21a1a;
}

.card-body > .cart:active{
    background-color: #c80000;
    border-color: #c80000;
}

.cafe-list > li > img  {
    display: inline-block;
}
.cafe-list > li > img {
    width: 120px;
    float: left;
}

.footer .footer-decor {
    height: 96px;
    background: url('/public/images/footer_lines.gif') repeat-x 100% 100%;
}

.footer .footer-decor .footer-decor-curves {
    width: 250px;
    height: 96px;
    background: url('/public/images/footer_curve.gif') no-repeat;
    float: right;
}

.icons-menu-top {
    margin-bottom: 0;
}

.icons-menu-top .icon-item-text-gray {
    color: #7f7f7f;
}

.icons-menu-top .icon-item-text {
    padding: 3px 7px;
    font-size: 10px;
    text-transform: uppercase;
}

.items-usrmenu {
    font-family:"Verdana","Helvetica","Arial",sans-serif;
    font-weight:bold;
    font-size:10px;
    vertical-align:top
}
@media(min-width:768px) {
    .items-usrmenu {
        text-align:right
    }
}
.items-usrmenu .items-usrmenu-usr {
    padding-left:20px
}
.items-usrmenu .items-usrmenu-usr .items-usrmenu-item {
    font-size:11px;
    vertical-align:top;
    padding-top:3px;
    display:inline-block
}
.items-usrmenu .items-usrmenu-usr .items-usrmenu-item:last-child {
    padding-left:15px
}
.items-usrmenu .flags .flag-item {
    width:25px;
    height:24px;
    display:inline-block;
    background:url(/images/aurora/sprite-top-menu-icons.png)
}
.items-usrmenu .flags .flag-item.flag-en {
    background-position:-150px -3px
}
.items-usrmenu .flags .flag-item.flag-ru {
    background-position:-120px -3px
}


.card {
    width: 18rem;
    margin: 0.5rem;
}
.card-img-top {
    min-height: 160px;
}